.container { /* Container geral do menu*/
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/wall.png");
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 90px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 5px solid #ffd700; /* Linha que divide o menu principal do painel*/
}

.panel {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 150px;
  width: 150px;
  border: 1px solid #000000;
  background-color: #1aeaa5;
}

.enemy {
  background-image: url("../images/detona-ralph-gift-2.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Para inserir espaço de separação entre o nome dos menus (Time Left/Your Score) e os números. Quando usamos o recurso "nth-child(2) estamos dizendo ao CSS que queremos aplicar a estilização somente no h2 filho de número dois (por isso temos o 2 entre parênteses)."*/
.menu-time h2:nth-child(2), 
.menu-score h2:nth-child(2) {
  margin-top: 1rem;
}
